In [1]:
%ls

datasets/  README.md  requirements.txt  Untitled.ipynb

In [27]:
import math
import pandas as pd

In [3]:
type(None)

NoneType

In [4]:
%ls datasets/

adult.csv                  census.csv     nhanes_2015_2016.csv
airline_data.csv           coches.csv     pokemon.csv
antropometria00.csv        cwurData.csv   reg_data.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          movies.csv

In [ ]:
math.pi

3.141592653589793

In [7]:
type(math.pi)

float

In [8]:
type("math.pi")

str

In [9]:
type(0)

int

# lists

In [13]:
aList = [2, 3, 4, 5, None, 'aName', False, math.pi, 'math.pi', 4.5]

In [14]:
aList

[2, 3, 4, 5, None, 'aName', False, 3.141592653589793, 'math.pi', 4.5]

In [15]:
print(*aList)

2 3 4 5 None aName False 3.141592653589793 math.pi 4.5

In [16]:
for i in aList:
    print(i, '\t', type(i))

2 	 <class 'int'>
3 	 <class 'int'>
4 	 <class 'int'>
5 	 <class 'int'>
None 	 <class 'NoneType'>
aName 	 <class 'str'>
False 	 <class 'bool'>
3.141592653589793 	 <class 'float'>
math.pi 	 <class 'str'>
4.5 	 <class 'float'>

In [1]:
numbers = [1, 5, 8, 10]

In [2]:
numbers

[1, 5, 8, 10]

In [3]:
type(sum(numbers))

int

In [6]:
# 2^2
2**2

4

In [5]:
# 6*10^(-1)
6*10**(-1)

0.6000000000000001

# Variable Types
#### 1. Numerical
#### 2. Categorical or Qualitative

In [7]:
'2012'*2

'20122012'

In [8]:
print('*'*115)

*******************************************************************************************************************

In [11]:
x = 5
y = 7
if x < y:
    print(' {} is less than {}'.format(x,y))
else:
    print(' {} is greater than {}'.format(x,y))

 5 is less than 7

In [13]:
x = 5
y = 7
if x < y:
    print(x,'is less than',y)
else: 
    print(y, 'is greater than', x)

5 is less than 7

In [15]:
boolList = [True, 6>10, 1==3, None is None]
for i in boolList:
    print(i, '\t', type(i))

True 	 <class 'bool'>
False 	 <class 'bool'>
False 	 <class 'bool'>
True 	 <class 'bool'>

# Sorting

In [16]:
aList = ['d', 'a', 'b', 'e', 'c']
print(*aList)

d a b e c

In [17]:
aList.sort()
print(aList)

['a', 'b', 'c', 'd', 'e']

In [22]:
# listName[startingPoint : EndingPoint(without)]
aList[:5]

['a', 'b', 'c', 'd', 'e']

In [23]:
aList[-3:]

['c', 'd', 'e']

In [24]:
%ls datasets/

adult.csv                  census.csv     nhanes_2015_2016.csv
airline_data.csv           coches.csv     pokemon.csv
antropometria00.csv        cwurData.csv   reg_data.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          movies.csv

In [28]:
path = 'datasets/Cartwheeldata.csv'
df = pd.read_csv(path)
df

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.00,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.00,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.00,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.00,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.00,75.0,72,N,0,4
5,6,24,M,2,N,0,75.00,71.0,81,N,0,3
6,7,28,M,2,N,0,75.00,76.0,107,Y,1,10
7,8,22,F,1,N,0,65.00,62.0,98,Y,1,9
8,9,29,M,2,Y,1,74.00,73.0,106,N,0,5
9,10,33,F,1,Y,1,63.00,60.0,65,Y,1,8
10,11,30,M,2,Y,1,69.50,66.0,96,Y,1,6
11,12,28,F,1,Y,1,62.75,58.0,79,Y,1,10
12,13,25,F,1,Y,1,65.00,64.5,92,Y,1,6
13,14,23,F,1,N,0,61.50,57.5,66,Y,1,4
14,15,31,M,2,Y,1,73.00,74.0,72,Y,1,9
15,16,26,M,2,Y,1,71.00,72.0,115,Y,1,6
16,17,26,F,1,N,0,61.50,59.5,90,N,0,10
17,18,27,M,2,N,0,66.00,66.0,74,Y,1,5
18,19,23,M,2,Y,1,70.00,69.0,64,Y,1,3
19,20,24,F,1,Y,1,68.00,66.0,85,Y,1,8
20,21,23,M,2,Y,1,69.00,67.0,66,N,0,2
21,22,29,M,2,N,0,71.00,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.00,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.00,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.00,63.0,67,N,0,3

In [36]:
df.tail()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
20,21,23,M,2,Y,1,69.0,67.0,66,N,0,2
21,22,29,M,2,N,0,71.0,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.0,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.0,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.0,63.0,67,N,0,3

In [35]:
x = df.columns
x = x.tolist()
x.sort()
print(*x, sep = ', ')

Age, CWDistance, Complete, CompleteGroup, Gender, GenderGroup, Glasses, GlassesGroup, Height, ID, Score, Wingspan

In [32]:
type(x)

list

# Loc and iLoc

## Loc
    df.loc[rowStart:rowEnd , ColumnStart:ColumnEnd]  #  ID_Names

## iLoc
    df.iloc[rowStart:rowEnd , ColumnStart:ColumnEnd]  #  ID_Indices

In [39]:
df.loc[:,'CWDistance'].head(2)

0    79
1    70
Name: CWDistance, dtype: int64

In [40]:
df.iloc[:, 8].head(2)

0    79
1    70
Name: CWDistance, dtype: int64

In [41]:
df.iloc[:, -4:-3]

    CWDistance
0           79
1           70
2           85
3           87
4           72
5           81
6          107
7           98
8          106
9           65
10          96
11          79
12          92
13          66
14          72
15         115
16          90
17          74
18          64
19          85
20          66
21         101
22          82
23          63
24          67

In [42]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [43]:
df.loc[:2, ['GenderGroup', 'Glasses', 'GlassesGroup', 'Height']]

   GenderGroup Glasses  GlassesGroup  Height
0            1       Y             1    62.0
1            1       Y             1    62.0
2            1       Y             1    66.0